body{
	background-color: lightgray;
}
h1{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}
h2{
	background-color: rgb(79,130,79);
	color: rgb(255,255,255);
}
p{
	background-color: rgba(200,200,200,1);
}
ul.ulList{
	background-color: rgb(142,142,236);
}
ol.fetts{
	background-color: gold;
}
dt{
	background-color: hsl(89, 100%, 20%);
}
dd{
	background-color: hsl(179, 100%, 48%);
}